<!DOCTYPE html>
<html>
<head>
    <title>{{_hive_name}} Hive</title>
    <link rel="stylesheet" type="text/css" href="/static/style/hivestyle.css">
    {# for now... #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="/static/js/hivebase.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block nav_ %}{% include "nav.html" %}{% endblock %}
    {% block body_ %}{% endblock %}
</body>
    <script type="text/javascript">M.AutoInit();</script>
    {% block end_script %}{% endblock %}
</html>