:root {
    --deep-background: #37474f;
    --node-text: #CFCFCF;
    --node-attr-text: #B4B4B4;
    --online: #00c853;
    --offline: #616161;
}

.welcome-section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hive-title {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-workspace {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 64px);
}

.side-bar {
    padding: 20px;
    flex: 1;
    flex-grow: 3;
}

.card-hub {
    padding: 20px;
    color: white;
    flex: 1;
    flex-grow: 9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-hub > div {
    margin: 10px;
    flex-grow: 2;
    max-width: 400px;
}

/* Node Style */

.node-container {
    width: 100%;
}

.node {
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--deep-background);
    display: flex;
    align-items: center;
    min-height: 100px;
}

.node-title {
    font-size: 20px;
    color: var(--node-text);
    flex: 1;
    flex-grow: 8;
}

.node-title > a {
    color: var(--node-text);
}

.node-info-section {
    flex: none;
    display: flex;
    flex-direction: row-reverse;
}


.node-chip {
    display: inline-block;
    height: 24px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 24px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.node-chip.online {
    padding: 0px 20px;
    color: white;
    text-shadow: 0px 1px #000000;
    background-color: var(--online);
}

.node-chip.offline {
    padding: 0px 20px;
    color: white;
    text-shadow: 0px 1px #000000;
    background-color: var(--offline);
}

.node-detail-section {
    flex-grow: 5;
}


/* Node Page Style */

.node-detail {
    width: 100%;
    margin: 20px;
}

.node-basic-info {
    display: flex;
}

.node-attributes {
    padding: 10px;
}

.node-attribute {
    display: flex;
}

.attribute-text {
    color: var(--node-attr-text);
}

.attribute-sep {
    width: 5px;
}

.node-log-container {
    color: white;
    max-height: 500px;
    overflow-y: scroll;
    font-family: monospace;
    padding: 10px;
}